:root {
  --dim-blue: #182631;
  --blue: #5c99f8;
  --dark: #1e1e1e;
  --white: #ffffff;
}

* {
  font-family: monospace;
  font-size: 110%;
  color: var(--white);
  background: var(--dark);
  box-sizing: border-box;
}

nav img {
  width: 50px;
}

a {
  color: var(--blue);
}
nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem;
}

li {
  list-style: none;
}

nav * {
  padding: 0.5rem;
  color: var(--white);

  text-decoration: none;
  color: var(--white);
}

nav a:hover,
nav a:active {
  background: var(--dim-blue);
  color: var(--blue);
}

hr {
  color: var(--blue);
}

header {
  display: none;
}

.disclaimer {
  margin: 1rem;
  /*  border-left: 1px solid var(--blue);*/
  padding: 1rem;
}

.introduction {
  margin: 1rem;
  /*  border-left: 1px solid var(--blue);*/
  padding: 1rem;
}

.introduction h1,
.interests h1,
.disclaimer h1 {
  font-weight: lighter;
  font-size: 2rem;
  color: var(--blue);
}

.interests {
  margin: 1rem;
  /*  border-left: 1px solid var(--blue);*/
  padding: 1rem;
}
